<!doctype html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>FindAPlace</title>

    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <div class="navbar-logo">CompanyLogo</div>
        </div>
    </div>
</nav>

<!-- main body of our application -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- SEARCH PART -->
            <div class="row" v-if="searchSeen">
                <div class="col-md-8 col-md-offset-2 centered">
                    <h1>Find a place</h1>
                    <div class="mtb">
                        <div class="form-group col-md-8">
                            <input class="form-control" placeholder="Enter a zip code or a city">
                        </div>
                        <div class="col-md-4">
                            <button class='btn btn-conf btn-orange findButton' v-on:click="searchLocations"><span class="glyphicon glyphicon-search"></span> Find !</button>
                        </div>
                        <div class="col-md-12">
                            <h4>OR</h4>
                        </div>
                        <div class="col-md-12">
                            <div text-centered>
                                <button class='btn btn-conf btn-info geolocButton' v-on:click="getGeolocation"><span class="glyphicon glyphicon-pushpin"></span> Localize me</button>
                            </div>
                            <div v-if="coordsGeoloc"><strong>{{ coordsGeoloc }}</strong></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- LOCATIONS LISTING AND DETAILS -->
            <div class="col-sm-12" v-cloak v-if="locationsListingSeen">
                <div class="list-group">
                    <div class="list-group-item" v-for="(location, index) in locations">
                        <h4 class="list-group-item-heading">
                            <strong>{{ location.name }}</strong>
                        </h4>

                        <h5>
                            <i class="glyphicon glyphicon-home" v-if="location.address"></i>
                            {{ location.address }}
                        </h5>

                        <p class="list-group-item-text" v-if="location.description">{{ location.description }}</p>

                        <div class="list-group  groupDetails">
                            <!-- <transition name="fade"> -->
                                <div class="list-group-item" v-if="detailsLocationId == index">
                                    <ul>
                                        <li>
                                            <span class="glyphicon glyphicon-calendar"></span> {{ location.details.schedule }}
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-phone-alt"></span> {{ location.details.phone }}
                                        </li>
                                        <li>
                                            <span class="glyphicon glyphicon-list"></span> {{ location.details.text }}
                                        </li>
                                    </ul>
                                </div>
                            <!-- </transition> -->
                        </div>

                        <div class="btn-group" role="group">
                            <button class="btn btn-sm btn-info" v-on:click="getDetailsLocation(index)"><span class="glyphicon glyphicon-list"></span> Détails</button>
                            <button class="btn btn-sm btn-success" v-on:click="goToLocation(location)"><span class="glyphicon glyphicon-arrow-right"></span> Go !</button>
                        </div>

                    </div>
                </div>
            </div>

            <!-- LOCATION ITINERARY -->
            <div class="row">
                <div class="col-sm-12" v-cloak v-if="locationItinerary">
                    <div class="col-md-8">
                        <iframe style = "width:100%; box-shadow:0 5px 5px #ccc; margin-bottom: 20px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.889264978834!2d-1.5559606843829143!3d47.218748979161035!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ef163d823c71%3A0x6a499fe2fe533ba1!2sMairie+Centrale+de+Nantes!5e0!3m2!1sfr!2sfr!4v1487255456433" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Details
                            </div>
                            <div class="panel-body">
                                <ul>
                                    <li>
                                        <strong>{{ locationItinerary.name }}</strong>
                                    </li>
                                    <li>
                                        {{ locationItinerary.address }}
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-calendar"></span> {{ locationItinerary.details.schedule }}
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-phone-alt"></span> {{ locationItinerary.details.phone }}
                                    </li>
                                    <li>
                                        <span class="glyphicon glyphicon-list"></span> {{ locationItinerary.details.text }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Actions
                            </div>
                            <div class="panel-body">
                                <div class="btn-group-vertical text-center col-xs-12" role="group">
                                    <button class="btn btn btn-info"><span class="glyphicon glyphicon-phone-alt"></span> Phone to {{ locationItinerary.name }}</button>
                                    <button class="btn btn btn-info"><span class="glyphicon glyphicon-book"></span> Make an appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CLEAR RESTART SEARCH -->
            <div class="row">
                <div class="col-sm-12 newSearch">
                    <div class="text-center">
                        <button class='btn btn-conf btn-orange' v-on:click="searchLocations" v-if="btnReturnListSeen"><span class="glyphicon glyphicon-arrow-left"></span> Return to list</button>
                        <button class='btn btn-conf btn-orange' v-on:click="clearAll" v-if="btnClearSeen"><span class="glyphicon glyphicon-search"></span> New search</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="footer" class="navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row centered">
            <div class="col-md-3 col-xs-6">
                <a class="text-muted">■ Legal Notice</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a class="text-muted">■ Contact</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a class="text-muted">■ Partner website</a>
            </div>
            <div class="col-md-3 col-xs-6">
                <a class="text-muted">■ Company website</a>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>