<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>FindAPlace</title>

    <!-- CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-logo">CompanyLogo</div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="#">Abouts</a>
                </li>
                <li class="page-scroll">
                    <a href="#">Contact</a>
                </li>
            </ul>-->
        </div>
    </div>
</nav>

<!-- main body of our application -->
<div id="main">
    <div class="container">
        <div class="row" v-if="searchSeen">
            <div class="col-md-8 col-md-offset-2 centered">
                <h1>Find a place</h1>
                <div class="mtb">
                    <div class="form-group col-md-8">
                        <input class="form-control" placeholder="Enter a zip code or a city">
                    </div>
                    <div class="col-md-4">
                        <button class='btn btn-conf btn-orange' v-on:click="searchLocations">Find !</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12" v-cloak v-if="locationsSeen">
            <div class="list-group">
                <div class="list-group-item" v-for="(location, index) in locations">
                    <h4 class="list-group-item-heading">
                        <strong>{{ location.name }}</strong>
                    </h4>

                    <h5>
                        <i class="glyphicon glyphicon-home" v-if="location.address"></i>
                        {{ location.address }}
                    </h5>

                    <p class="list-group-item-text" v-if="location.description">{{ location.description }}</p>

                    <button class="btn btn-sm btn-info" v-on:click="getDetailsLocation(index)">Détails</button>

                    <button class="btn btn-sm btn-success" v-on:click="searchLocations"><span class="glyphicon glyphicon-arrow-right"></span> Go !</button>
                    <div class="list-group">
                        <div class="list-group-item" v-if="detailsLocationId == index">
                            <ul>
                                <li>
                                    <span class="glyphicon glyphicon-calendar"></span> {{ location.details.schedule }}
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-phone-alt"></span> {{ location.details.phone }}
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-list"></span> {{ location.details.text }}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <button class='btn btn-conf btn-orange' v-on:click="clearAll" v-if="btnClearSeen">New search</button>
                </div>
            </div>
        </div>

    </div>
</div>


<footer class="footer">
    <div class="container">
        <div class="col-md-3 ">
            <a class="text-muted">■ Legal Notice</a>
        </div>
        <div class="col-md-3 ">
            <a class="text-muted">■ Contact</a>
        </div>
        <div class="col-md-3 ">
            <a class="text-muted">■ Partner website</a>
        </div>
        <div class="col-md-3 ">
            <a class="text-muted">■ Company website</a>
        </div>
    </div>
</footer>

<!-- JS -->
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="app.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>